{% extends 'base.html' %}
{% block title %}
ОбО МнЕ
{% endblock %}

{% block body %}
<h1 class="otstup">Я КАМИТОВ ТАИР МАРАТОВИЧ</h1>
<p class="otstup">Приехал в Томск из Тюмени, а в Тюмень приехал из Караганды. 
Увлечения: программирование, компьютерные игры и чтение.
</p>
<p style="text-align: center;">
<p class="otstup">Любимый программист – Лукас Поуп. Для меня он пример целеустремлённости. Уйти из стабильной компании ради разработки своих уникальных проектов – дорогого стоит. Программирую на питоне и чуууууть чууууууть на плюсах. Прошёл курс Яндекс Лицея. (ниже одна из игр Лукаса Поупа)
</p>
<p style="text-align: center;"><img class="obradinn" src="./static/images/obradinn.jpg" alt="Кораблик далеко уплыл, его не найти..."></p>
<p class="otstup">Любимая игра – Opus Magnum. Меня с ранних лет привлекала Алхимия, я думал, что когда-нибудь сделаю из свинца золото, но время прошло, и я понял, что золото можно сделать и с помощью кода. Opus Magnum – головоломка, в которой с помощью ограниченного набора инструментов (манипуляторы, глифы соединения и т.д.) и компонентов (вода, земля, огонь и т.д.) необходимо создать разные продукты. Также, нужно написать набор инструкций (поворот, захват и т.д.), чтобы инструменты выполняли свою работу. (ниже процесс выполнения продукта “Зелье Здоровья”).
</p>
<p style="text-align: center;"><img src="./static/images/Алхимия.gif" alt="Гифка ушла по алхимическим делам..."></p>
<p class="otstup">Любимая книга – “Братья Карамазовы”. За свою жизнь я прочитал много книг, которые повлияли на меня, но именно “Братья Карамазовы” дали тот самый толчок. После прочтения этой книги, я твёрдо решил, что мне нужно уехать из дома и начать быть самостоятельным. 
</p>
<p style="text-align: center;"><img class="karamazovs" src="./static/images/karamazovs.jpg" alt="Гифка ушла по алхимическим делам..."></p>
{% endblock %}