{% extends 'base.html' %}
{% block title %}
ПоРтФоЛиО
{% endblock %}

{% block body %}
<h1>Портфолио</h1>
<a href="https://disk.yandex.ru/d/ZxJSyzH6f7sKMA">Ссылка на проект с PyQT</a>
<p style="text-align: center;"><img src="./static/images/англ.jpg" alt="видимо убежал мой дипломчик"></p>
<p style="text-align: center;"><img src="./static/images/фед.jpg" alt="мяу мяуууу мяууууу"></p>
<p style="text-align: center;"><img class="diploma" src="./static/images/строит.jpg" alt="мяу мяуууу мяууууу"></p>
<p style="text-align: center;"><img src="./static/images/хака.jpg" alt="мяу мяуууу мяууууу"></p>
<p style="text-align: center;"><img src="./static/images/Гуров.jpg" alt="тут должно было быть рекомендательное пИсЬмО"></p>
<p style="text-align: center;"><img src="./static/images/прокопенко.jpg" alt="тут должно было быть рекомендательное пИсЬмО"></p>
{% endblock %}